<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          <app-vote-button [post]="post"></app-vote-button>
        </div>
        <div class="col-md-11">
          <span>
            <span class="text subreddit-text"><a class="post-url" href="">Category: {{post?.subredditName}}</a></span>
            <span class="test"> . Posted
              <span> {{post?.duration}} </span>
              by
              <a class="username" href="">{{post?.userName}}</a>
            </span>

          </span>
          <hr />
          <a routerLink="post.url" class="post-title">{{post?.postName}}</a>
          <div>
            <p class="post-text" [innerHtml]="post?.description"> </p>
          </div>
          <div class="post-comment">
            <form [formGroup]="commentForm" (ngSubmit)="postComment()">
              <div class="form-group">
                <textarea class="form-control" [formControlName]="'text'" placeholder="Your Thoughts?"></textarea>
              </div>
              <button type="submit" class="btn btn-primary float-right">Comment</button>
            </form>
          </div>
          <div style="margin-top: 60px;" *ngFor="let comment of comments">

            <div class="align-items-center row">
              <div class="col-md-1 col-2">
                <app-comment-vote-button [comment]="comment"></app-comment-vote-button>
              </div>
              <div class="col-md-10 col-8">
                <div class="comment">


                  <div class="row" >
                    <fa-icon  class="col-1 pr-4" [icon]="faUser"></fa-icon>
                    <a class="username" routerLink="/user/comment.username">{{comment.userName}}</a>
                  </div>
                  <div>
                    <p class="text">{{comment.duration}}</p>
                  </div>
                  <b class="pl-2">{{comment.text}}</b>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-side-bar></app-side-bar>
      <app-subreddit-side-bar></app-subreddit-side-bar>
    </div>
  </div>
</div>