.answers {
    color: white;
    font-size: 1.4rem;
}

.username {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}

.username:hover {
    color: yellow;
    font-size: 1.8rem;
}

mat-spinner {
    margin: auto;
}

.text {
    color: white;
    font-size: 18px;
}

.wlc {
    color: white;
    padding-top: 10px;
    font-weight: 80px;
}