.sidebar-view-subreddit {
    width: 312px;
    height: 242px;
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #5d4257;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .sidebar-view-subreddit {
    height: 280px;
  }