<div class="container">
    <div class="wlc">
        <h3>Welcome <b>{{name}}</b>.<br /> You have asked questions <b>{{postLength}}</b> time(s) and answered
            <b>{{answerLength}}</b> time(s). You can check your question and answer history below.</h3>
    </div>
    <hr />
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div class="answers">
        Your Questions:
    </div>

    <app-question-tile [questions]="questions"></app-question-tile>
    <hr />
    <div class="answers">
        Your Answers:
    </div>
    <br>
    <div *ngFor="let answer of answers">
        <div class="answer">
            <div class="username">
                <a class="username" routerLink="/user/answer.username">{{answer.userName}}</a>
            </div>
            <div class="text">
                {{answer.duration}}
            </div>
            <div>
                <p class=" answer-text pt-2" [innerHtml]="answer?.text"> </p>
            </div>
        </div>
        <hr />
    </div>
</div>