header {
    border-radius: 1px solid;
    padding-bottom: 60px;
}

.fa {
    color: black;
    font-size: 1.6rem;
}

.searchbtn {
    padding: 2px;
    font-size: 1.8rem;
}

.navbar {
    background-color: transparent;
    /* background-color: #5b6467; */
    /* background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%); */
}

.product-icon-svg {
    height: 50px;
    padding: 8px 8px 8px 0;
    width: 50px;
}

.product-text {
    font-weight: 700;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 1.4rem;
}

.product-text:hover {
    color: yellow;
    font-size: 1.6rem;
}

.logo {
    text-decoration: none;
}

.login,
.sign-up {
    background-color: transparent;
    border-color: #0079D3;
    color: white;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
}

.sign-up {
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
}

.sign-up:hover {
    opacity: 0.6;
}

.userdetails {
    background-color: transparent;
    border-color: #0079D3;
    color: white;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    border: 0px;
}

.userdetails:hover {
    border: 1px solid;
}

.dropdown-item {
    background-color: #f8f9fa;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-item:hover {
    background-color: #0079D3;
}

.dropdown-menu {
    background-color: #f8f9fa;
}

.account-icon {
    border-radius: 4px;
    float: left;
    margin-right: 5px;
    max-height: 24px;
    max-width: 24px;
}